apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: pfnd
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - env:
        - name: POC
          value: POC
        image: quay.io/redhat-appstudio-qe/byoc-rnom-tenant/byoc-app-rmoc/pfnd@sha256:53a470a48de31f41ebb114a7453f07eb7e0c48db4ca537c0619122108ecf36fe
        name: my-java-quarkus
        resources: {}
status: {}
