apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: pfnd
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: pfnd
    app.kubernetes.io/part-of: byoc-app-rmoc
  name: pfnd
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: pfnd
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: pfnd
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/byoc-rnom-tenant/byoc-app-rmoc/pfnd@sha256:53a470a48de31f41ebb114a7453f07eb7e0c48db4ca537c0619122108ecf36fe
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
